*{
    
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}*/
header{
    color: red;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(87, 84, 84);
    cursor: pointer;
    font-size: 25px;
    list-style-type: none;
}
ul{
    width: 100px;
    height: 100%;
}
li:hover{
    background-color: lightgray;
    color: black;
    font-weight: ;
}
.black{
    color: black;
    font-weight: bold;
}
.skiny{
    background-color: lightgray;
    color: black;
    font-weight: bold;
}
.container{
display: flex;

}
.left{
    flex: 3;
    padding: 20px;
    resize: horizontal;
    overflow-y: scroll;
}
.right{
    flex: 4;
    padding: 20px;
}
.hats{
    width: 95%;
    height: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    gap: 26px;
}
.ri-shopping-cart-2-fill{
    font-size: 30px;
    color: black;
}
.ri-search-eye-line{
    font-size: 30px;
    color: black;
}
.position{
    position: absolute;
    bottom: 30%;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    padding: 20px 10px;
}
.thin{
    font-weight: thin;
}
button{
    background-color: black;
    color: white;
    padding: 20px 35px;
    border: none;
    cursor: pointer;
    font-weight: 100;
}
button:hover{
    background-color: rgb(203, 203, 203);
    color: black;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
img{
    width: 170px;
    height: 200px;
}
input{
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.sub{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.send{
    background-color: red;
    color: white;
    padding:10px ;
    width: 15%;
}
.type{
    border: 1px solid black;
}
.frm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
textarea{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    resize: vertical;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
a{
    color: black;
}